Finanzguru_data*
*/Finanzguru_data*
*/*/Finanzguru_data*
**/Finanzguru_data*

__pycache__
*/__pycache__*
*/*/__pycache__*
**/__pycache__*

.env
.env.*
*/.env
*/.env.*
**/.env
**/.env.*

.DS_Store
*/.DS_Store
*/*/.DS_Store
**/.DS_Store

.venv
*/.venv
*/*/.venv
**/.venv
