*.pdf

# Finanzguru data
**/Finanzguru_data*

# Python cache
**/__pycache__*

# Environment files
**/.env*
!**/.env.template

# System files
.DS_Store
**/.DS_Store

# Virtual environments
**/.venv
=======
.venv
.venv/*
__pychache__

**/.venv
**/.venv/*
**/.DS_Store
**/__pycache__
