# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log

# Caches
.cache/
.pytest_cache/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Project specific
deprecated/**
deprecated/*
